.container {
  position: relative;
}

.headerContainer {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25vw;
  padding: 0.3em 4% 0.6em;
}

@media (min-width: 800px) {
  .headerContainer {
    font-size: 1.4vw;
  }
}

@media (min-width: 1500px) {
  .headerContainer {
    padding: 0.3em 60px 0.6em;
  }
}

.headerLink {
  display: inline-flex;
  flex-direction: row;
  align-items: end;
}

.headerTitle {
  color: white;
  vertical-align: bottom;
}

.headerMore {
  color: #54b9c5;
  font-size: 0.9vw;
  line-height: 0.8vw;
  vertical-align: bottom;
  margin-right: 2px;
  opacity: 0;
  max-width: 0;
  white-space: nowrap;
  transition:
    opacity 1s ease-in-out,
    max-width 1s ease-in-out,
    transform 0.75s ease-in-out;
}

.headerLink:hover .headerMore {
  opacity: 1;
  max-width: 200px;
  transform: translateX(1vw);
}

.headerIcon {
  width: 0.95vw;
  height: 0.95vw;
  color: #54b9c5;
  transform: rotate(-90deg);
  opacity: 0;
  transition:
    opacity 0.2s ease-in-out,
    transform 0.75s ease-in-out;
}

.container:hover .headerIcon {
  opacity: 1;
}

.headerLink:hover .headerIcon {
  width: 0.75vw;
  height: 0.75vw;
  transform: rotate(-90deg) translateY(1vw);
}

.sliderContainer {
  position: relative;
}

.slider {
  padding: 0 4%;
}

@media (min-width: 1500px) {
  .slider {
    padding: 0 60px;
  }
}

.sliderContent {
  display: flex;
}

.item {
  position: relative;
  flex: none;
  width: 33.3333%;
  aspect-ratio: 16 / 9;
  padding: 0 0.2vw;
  overflow: hidden;
  cursor: pointer;
}

.item:first-child {
  padding-left: 0;
}

.item img {
  width: 100%;
  height: 100%;
  border-radius: 0.2vw;
  object-fit: cover;
  object-position: center;
}

.itemTitle {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e50914;
  border-top-left-radius: 0.2vw;
  border-top-right-radius: 0.2vw;
  color: white;
  font-size: 0.6vw;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  padding: 2px 8px;
}

.handle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  width: 4%;
  background-color: rgba(20, 20, 20, 0.5);
}

.handle:hover {
  background-color: rgba(20, 20, 20, 0.7);
}

.handleLeft {
  composes: handle;
  inset: 0 auto 0 0;
}

.handleRight {
  composes: handle;
  inset: 0 0 0 auto;
}

.handleIcon {
  width: 2.5vw;
  height: 2.5vw;
  color: white;
  opacity: 0;
  transition: transform 0.2s ease-in-out;
}

.sliderContainer:hover .handleIcon,
.handle:hover .handleIcon {
  opacity: 1;
}

.handleLeft .handleIcon {
  transform: rotate(90deg);
}

.handleLeft:hover .handleIcon {
  transform: rotate(90deg) scale(1.25);
}

.handleRight .handleIcon {
  transform: rotate(-90deg);
}

.handleRight:hover .handleIcon {
  transform: rotate(-90deg) scale(1.25);
}

@media (min-width: 1500px) {
  .handle {
    width: 60px;
  }

  .handleIcon {
    width: 2em;
    height: 2em;
  }
}

.hidden {
  display: none;
}
