.container {
  position: relative;
  width: 100%;
  padding: 35.71428571% 0;
  border-radius: 0.2vw;
  overflow: hidden;
}

.rank {
  position: absolute;
  top: 0;
  right: auto;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.poster {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  width: 50%;
  height: 100%;
  object-fit: cover;
}
