@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-zinc-900 h-full overflow-x-hidden
}

html {
    @apply h-full
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 1rem;
}

.movie-card {
    position: relative;
    background-color: #333;
    border-radius: 8px;
    border: 2px solid transparent;
    transition: border 0.3s ease;
    overflow: hidden;
    text-align: center;
    color: white;
}

.movie-card:hover {
    border-color: white;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.movie-card:hover .overlay {
    opacity: 1;
}

.movie-poster {
    width: 100%;
    height: auto;
}

.movie-title {
    padding: 8px;
    font-size: 14px;
}