@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: rgb(20, 20, 20);
    --foreground: rgb(255, 255, 255);
    --color-gray-129: rgb(129, 129, 129);
    --color-gray-179: rgb(179, 179, 179);
    --color-gray-229: rgb(229, 229, 229);
}

body {
    @apply font-sans bg-background h-full overflow-x-hidden;
}

html {
    @apply h-full
}
